/* 3. Basic Styles for Content(Text) */
.board ul {
  li {
    height: @touch-able - 1;
    line-height: @touch-able - 1;
    border-bottom: solid 1px #ddd;
    font-size: 16px;
    position: relative;
    background-color: #fafafa;
    // &::before, &::after {
    //   position: absolute;
    //   top: 0;
    //   background-color: #ccc;
    //   padding: 0 16px;
    //   z-index: -1;
    // }
    // &::before {
    //   content: "\00D7";
    //   left: 0;
    // }
    // &::after {
    //   content: "\2606";
    //   right: 0;
    // }
    a {
      display: block;
      width: 96%;
      text-decoration: none;
      color: #333;
      font-size: 15px;
      text-indent: 8px;
      overflow-x: hidden;
    }
    i {
      display: inline-block;
      width: 28px;
      text-align: center;
      font-style: normal;
    }
    small {
      display: inline-block;
      font-weight: normal;
    }
    .id-width {
      display: inline-block;
      width: 120px;
      font-weight: bold;
    }
  }
  li.flag-1 {
    font-weight: bold;
    i::before { content: "+"; }
  }
  li.flag-2 {
    a { color: #ccc; }
    i::before { content: ""; }
  }
  li.flag-3 {
    i::before {
      content: "\2606";
      font-weight: 100;
      color: rgba(51,51,51,0.8);
    }
  }
}

.post {
  font-size: 16px;
  h1 {
    font-size: 16px;
    line-height: 32px;
    overflow: hidden;
  }
  h2 {
    height: 24px;
    line-height: 24px;
    box-sizing: border-box;
    border-bottom: 1px dashed #ccc;
    font-weight: normal;
    font-size: 12px;
  }
  article {
    margin-top: 10px;
    white-space: normal;
    font-size: 15px;
    line-height: 175%;
  }
}



