/* 3. Basic Styles for Yanxi Mobile */
.action-bar-title {
  text-align: center;
  line-height: 48px;
  font-size: 28px;
}

.board ul li {
  height: 47px;
  line-height: 47px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: solid 1px #505050;
}
.board ul li i {
  display: inline-block;
  width: 24px;
  text-align: center;
}
.board ul li .id-width {
  display: inline-block;
  width: 120px;
}
.board ul li small {
  display: inline-block;
  font-weight: normal;
}