<div ng-class="{'loading': loading }">
  <div class="spin"></div>
</div>

<div class="action-bar-top">
  <div class="action-bar-title">{{title}}</div>
</div>

<div class="panel" ng-class="{'active': layout.panel.active}">
  <i class="handler" ng-class="{true:'icon-ok', false:'icon-tags'}[layout.panel.active]"
    ng-click="togglePanel()"></i>
  <h4>Filter</h4>
  <ul>
    <li ng-repeat="tag in tags">
      <label for="{{tag.name}}">{{tag.name}}</label>
      <input type="checkbox" id="{{tag.name}}" ng-checked="tag.checked" ng-model="tag.checked" />
      <i class="icon-ok"></i>
    </li>
  </ul>
</div>

<div id="slidable" class="slide-{{slide}}">
  <div class="screen">
    <div class="board" ng-class="{'has-bar-top': layout.actionbar.hasTop}" id="brd-board">
      <ul>
        <li class="flag-{{pst.flag}}" ng-repeat="pst in posts">
          <a ng-click="readContent(pst.id)">
            <span>{{pst.title}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="screen" hm-swiperight="back()">
    <div class="board" ng-class="{'has-bar-top': layout.actionbar.hasTop}" id="brd-post">
      <div class="post">
        <div class="post-title">{{post.title}}</div>
        <div class="post-owner">{{post.owner}}</div>
        <div class="post-content">{{post.content}}</div>
      </div>
    </div>
  </div>
</div>