<div ng-class="{'loading': loading }">
  <div class="spin"></div>
</div>

<div class="action-bar-top" ng-class="{'action-bar-hide': !settings.hasTop}">
  <a class='action-bar-back' ng-href='#/fav'></a>
  <div class="action-bar-title">{{title}}</div>
  <div class="drop-down">
    <a class="toggle" ng-click="toggleDropDown()">
      <i class="icon-circle-blank"></i>
    </a>
    <ul class="bookmark" ng-class="{'on': current.action_bar_dropdown}">
      <li><i class="icon-circle-blank"></i> new</li>
      <li><i class="icon-star"></i> star</li>
      <li><i class="icon-circle"></i> all</li>
    </ul>
  </div>
</div>

<div class="screen">
<div class="board has-bar-top" id="brd-board">
  <ul>
    <li class="flag-{{pst.flag}}" ng-repeat="pst in posts">
      <a hm-dragright="read($event)">
        <span class='id-width'>{{pst.owner}}</span>
        <span>{{pst.title}}</span>
      </a>
    </li>
  </ul>
</div>
</div>