<div ng-class="{'loading': loading }">
  <div class="spin"></div>
</div>

<div class="message-bar-top">{{message}}</div>

<div id="slidable" class="slide-{{slide}}">
  <div class="screen">
    <div class="board" ng-class="{'has-message-bar-top': layout.messagebar.top}" id="brd-board">
      <ul>
        <li class="flag-{{pst.flag}}" ng-repeat="pst in posts">
          <a ng-click="readContent(pst)">
            <span>{{pst.title}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="screen" hm-swiperight="back()">
    <div class="board" ng-class="{'has-message-bar-top': layout.messagebar.top}" id="brd-post">
      <section class="post">
        <h1>{{post.title}}</h1>
        <h2>
          {{post.code}}&nbsp;&nbsp;&nbsp;&nbsp;
          {{post.name}}&nbsp;&nbsp;&nbsp;&nbsp;
          {{post.created}}
        </h2>
        <article ng-bind-html-unsafe="post.content"></article>
      </section>
    </div>
  </div>
</div>