<div ng-class="{'loading': loading }">
  <div class="spin"></div>
</div>

<div class="action-bar-top">
  <div class="action-bar-title">
    {{title}}
  </div>
  <div class="popup">
    <a class="open" ng-click="togglePopup(true)">
      <i class="icon-tags"></i>
    </a>
    <div class="popup-wrap" ng-class="{'on': current.action_popup}">
      <section>
        <a class="close" ng-click="togglePopup(false)">
          <i class="icon-remove"></i>
        </a>
        <ul class="tags">
          <li ng-repeat="tag in tags">
            <input type="checkbox" id="tag_{{tag.name}}" />
            <label for="tag_{{tag.name}}"><i class="icon-ok"></i>{{tag.name}}</label>
          </li>
        </ul>
      </section>
    </div>
  </div>
  <div class="action-bar-notice">
    success!
  </div>
</div>

<div class="screen">
<div class="board has-bar-top" id="brd-fav">
  <ul>
    <li ng-repeat="brd in boards">
      <a ng-href="#/board/{{brd.boardname}}">
        <i>+</i>
        <span class='id-width'>{{brd.boardname}}</span>
        <small>{{brd.boardnameZh}}</small>
      </a>
    </li>
  </ul>
</div>
</div>