<div ng-class="{'loading': loading }">
  <div class="spin"></div>
</div>

<div class="action-bar-top">
  <div class="action-bar-title">
    {{title}} 燕曦
  </div>
  <ul class="tags drop-down" ng-class="{'on': current.action_bar_dropdown}">
    <li ng-click="toggleDropDown()">&nbsp;</li>
    <li ng-repeat="tag in tags">
      <input type="checkbox" />{{tag.name}}
    </li>
  </ul>
  <div class="action-bar-notice">
    success!
  </div>
</div>

<div class="screen">
<div class="board has-bar-top" id="brd-fav">
  <ul>
    <li ng-repeat="brd in boards">
      <a ng-href="#/board/{{brd.boardname}}">
        <i>+</i>
        <span class='id-width'>{{brd.boardname}}</span>
        <small>{{brd.boardnameZh}}</small>
      </a>
    </li>
  </ul>
</div>
</div>