<ng-include src="partial" ng-controller="yanxi.ctrl.Loading"></ng-include>

<ng-include src="partial" ng-controller="yanxi.ctrl.ActionBar"></ng-include>

<div class="screen c4 current">
  <div class="board has-bar-top" id="brd-fav"
    ng-include="partial" ng-controller="yanxi.ctrl.Fav">
  </div>
</div>

<div class="screen c4">
  <div class="board  has-bar-top" id="brd-board"
    ng-include="partial" ng-controller="yanxi.ctrl.Board">
  </div>
</div>

<div class="screen c4">
  <div class="board has-bar-top" id="brd-post"
    ng-include="partial" ng-controller="yanxi.ctrl.Post">
  </div>
</div>

<div class="screen c4">
  <div class="board grey-box" id="board3">
    Hello World 4
  </div>
</div>