<div ng-class="{'loading': loading }">
  <div class="spin"></div>
</div>

<div class="message-bar-top">{{message}}</div>

<div class="screen" hm-dragend="dragend($event)">
  <div class="card post"
       ng-style="{ 'z-index': post.zindex_ }"
       ng-class="{'has-message-bar-top': layout.messagebar.top,
                  'card-left': post.pos_ == 'left',
                  'card-right': post.pos_ == 'right' }"
       ng-repeat="post in posts | filter: { visible_: true }">
    <section ng-switch on="post.is_excerpt_">
      <h1>{{post.title}}</h1>
      <h2>
        {{post.code}}&nbsp;&nbsp;&nbsp;&nbsp;
        {{post.name}}&nbsp;&nbsp;&nbsp;&nbsp;
        {{post.created}}
      </h2>
      <article ng-switch-when="true">
        <p ng-bind-html-unsafe="post.excerpt"></p>
        <aside class="toggle-excerpt" ng-click="toggleExcerpt(post)">
          <i class="icon icon-chevron-down"></i>
        </aside>
      </article>
      <article ng-switch-when="false">
        <p ng-bind-html-unsafe="post.content"></p>
        <aside class="toggle-excerpt" ng-click="toggleExcerpt(post)">
          <i class="icon icon-chevron-up"></i>
        </aside>
      </article>
    </section>
    <div class="op">
      <div class="op-vote">
        <a class="op-like">Like</a>
        <a class="op-unlike">Unlike</a>
        <a class="op-toggle-native">···</a>
      </div>
      <div class="op-native">
        <a>Reply</a>
        <a>Repost</a>
        <a class="op-fav">Fav</a>
      </div>
    </div>
  </div>
</div>